{% extends 'frontend/layouts/base.html' %}

{% block content %}
{% load static %}
<section class="breadcrumb-section border-top">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Bag</li>
                </ol>
            </nav>
        </div>
    </section>

{% endblock %}