*.sqlite3
*.pyc
__pycache__


# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyc

# SQLite database files
*.sqlite3

# Environment variables
.env

# Virtual environment folders
venv/
env/
