<nav class="menu-nav d-none d-lg-block">
    <div class="container">
        <div class="d-flex">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Fashion
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Men's Clothing</a></li>
                        <li><a class="dropdown-item" href="#">Women's Clothing</a></li>
                        <li><a class="dropdown-item" href="#">Kids' Clothing</a></li>
                        <li><a class="dropdown-item" href="#">Shoes & Accessories</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Electronics
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Smartphones</a></li>
                        <li><a class="dropdown-item" href="#">Laptops & Computers</a></li>
                        <li><a class="dropdown-item" href="#">Audio & Video</a></li>
                        <li><a class="dropdown-item" href="#">Gaming</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home & Garden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Automotive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger fw-bold" href="#">Hot Deals</a>
                </li>
            </ul>
        </div>
    </div>
</nav>